
@font-face
    font-family 'my-icon'
    src url('/static/iconfont/iconfont.ttf') format('truetype')
.my-icon
    font-style normal
    font-family 'my-icon'
    position relative
    display inline-block
    font-size inherit
    text-rendering auto
.my-icon-add::before
    content '\e60d'
.my-icon-minus::before
    content '\e60e'